
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="wrapper">
    <img src="https://thamhiemmekong.com/wp-content/uploads/2020/06/thienvientruclamtravinh-1.jpg" />
    <div class="text-box">
        <h2>Thiền viện trúc lâm</h2>
        <p>Thiền viện Trúc lâm Trà Vinh là ngôi thiền viện đầu tiên thuộc phái Trúc lâm Yên Tử của tỉnh Trà Vinh. Thiền Viện Trúc Lâm Trà Vinh tọa lạc tại ấp Khoán Tiều, xã Trường Long Hòa, thị xã Duyên Hải, tỉnh Trà Vinh với diện tích gần 10 ha trong quần thể Khu du lịch sinh thái rừng ngập mặn biển Ba Động.</p>
        <p>Thiền viện Trúc Lâm Trà Vinh có các hạng mục chính như: Chính điện, nhà Tổ, lầu chuông, lầu trống, cổng tam quan, nhà nghỉ chân, tôn tượng Quan Âm lộ thiên, miếu thờ mẹ Âu Cơ, giảng đường, trai đường, nhà trụ trì, nhà khách, thư viện, Tăng xá, Ni xá, nhà trù, tháp nước,…  Các công trình được bố trí hài hòa với thiên nhiên.</p>
        <p>Toàn bộ các kiến trúc tại Thiền viện Trúc Lâm Trà Vinh được thiết kế và xây dựng theo mô hình các ngôi chùa Phật giáo Việt Nam thời Lý – Trần (thế kỷ XII đến thế kỷ XIV), mà điển hình là các mái ngói dạng hai tầng. Các đầu đao cuối mái được vuốt cong nhẹ nhàng, thể hiện tính khiêm cung, hài hòa với tự nhiên của dân tộc.</p>
        <button type="button"><a href="https://thamhiemmekong.com/thong-tin-du-lich-mien-tay/thien-vien-truc-lam-tra-vinh.html">Tìm hiểu thêm</a></button>
    </div>
</div>

<div class="wrapperr">
    <img src="https://dulichtravinh.com.vn/wp-content/uploads/2021/01/a8471f20fa11384f6100.jpg" />
    <div class="text-box">
        <h2>Khu di tích bến tiếp nhận vũ khí</h2>
        <p>Khu di tích Bến tiếp nhận vũ khí Cồn Tàu thuộc ấp Cồn Trứng, xã Trường Long Hòa, huyện Duyên Hải, cách trung tâm thành phố Trà Vinh 60 km về hướng Đông Nam. Đây không chỉ là địa chỉ giáo dục truyền thống cho thế hệ trẻ mà còn là điểm tham quan du lịch tiềm năng cho thị xã Duyên Hải, cùng với Khu du lịch Ba Động, điện gió làm nên cụm văn hóa – du lịch liên hoàn của vùng biển Duyên Hải – Trà Vinh.</p>
        <p>Đúng 17 giờ ngày 03/8/1961, con thuyền chở bảy đồng chí xuất phát từ vàm Khâu Phục ra khơi, đồng chí Lê Văn Hòa (Bảy Hòa) bị say sóng nên phải ở lại. Sáu anh em còn lại trên thuyền thống nhất bốc thăm đặt tên mới cho từng người theo khẩu hiệu “Đoàn kết đấu tranh thắng lợi” nhằm hạ quyết tâm thực hiện bằng được nhiệm vụ được giao, gồm: Trần Văn Mao (Ba Đoàn), Nguyễn Văn Khương (Tám Kết), Phan Văn Lẹ (Hai Đấu), Lê Văn Lòng (Hai Tranh), Hồ Đức Thắng (Bảy Thắng), Ngô Văn Tôi (Bảy Lợi).</p>
    </div>
    <button type="button"><a href="https://dulichtravinh.com.vn/khu-di-tich-ben-tiep-nhan-vu-khi-con-tau/">Tìm hiểu thêm</a></button>
</div>

<div class="wrapper">
    <img src="https://nangluongvietnam.vn/stores/news_dataimages/Maithang/012022/17/09/3043_2.jpg" />
    <div class="text-box">
        <h2>Cánh đồng điện gió Đông Hải 1</h2>
        <p>Nhà máy điện gió Đông Hải 1 được đầu tư với tổng mức gần 5.000 tỷ đồng, tại vị trí biển V1-7, huyện Duyên Hải, tỉnh Trà Vinh; đạt tổng công suất 100 MW, quy mô 25 trụ gió. Nhà máy điện gió Đông Hải 1 bổ sung khoảng 330 triệu kWh năng lượng xanh hàng năm, giúp đa dạng nguồn phát và tiến dần đến khả năng cân đối nguồn với năng lượng hóa thạch, giảm thải khí carbon.</p>
        <button type="button"><a href="https://nangluongvietnam.vn/khanh-thanh-nha-may-dien-gio-dong-hai-1-28181.html">Tìm hiểu thêm</a></button>
    </div>
</div>



<footer class="footer">
    <div class="container">
        <div class="items">

            <div class="item">

                <h2 class="title-item">
                    Về chúng tôi
                </h2>
                <div class="body-item">
                    <div class="about-item">
                        <div class="about-image">
                            <img src="https://img.freepik.com/premium-vector/detailed-travel-logo_23-2148616612.jpg" alt="" srcset="">
                        </div>
                        <div class="about-details">
                            <h2 class="about-name">
                                Khu du lịch biển ba động
                            </h2>
                            <p>
                                Hãy liên hệ với chung tôi khi muốn tìm hiểu thêm về khu du lịch
                            </p>
                            <div class="about-btn">
                                <button class="btn">Tìm hiểu thêm</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="item">
                <h2 class="title-item">
                    Thông tin liên hệ
                </h2>
                <div class="body-item">

                    <div class="info">
                        <p>
                            <ul>
                                <li>TraVinh,VietNam</li>
                                <li>SĐT:0399796850</li>
                                <li>Email:lethinguyenxuyen2003@gmail.com</li>
                            </ul>
                        </p>
                    </div>

                </div>
            </div>
            <div class="item">
                <h2 class="title-item">
                    Kết nối với chúng tôi
                </h2>
                <div class="body-side">
                    <div class="socials">
                        <a href="https://www.facebook.com/profile.php?id=100034348579919"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"><i class="fa-brands fa-google"></i></a>
                        <a href="https://www.instagram.com/nguyenxuyen297/"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>

            </div>


        </div>
    </div>

</footer>