
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<section class="home" id="home">
    <div class="container">
        <div class="items">
            <div class="item">
                <article>
                    <h1 class="a-title">
                        <strong>Biển Ba Động - Địa điểm tham quan du lịch HOT nhất Trà Vinh</strong>  
                    </h1>

                    <div class="a-body">
                        <p>
                            Biển Ba Động, một viên ngọc quý bên bờ biển Trà Vinh, là điểm đến tham quan hấp dẫn với khung cảnh tươi đẹp và thiên nhiên hoang sơ. Dù bạn đang tìm kiếm sự thư giãn trên bãi cát hay khám phá lịch sử nơi này, Biển Ba Động chắc chắn sẽ mang đến những trải nghiệm đáng nhớ. Hôm nay cùng chúng tôi khám phá những địa điểm tham quan du lịch hot nhất tại Trà Vinh nhé.

                            .
                        </p>
                    </div>

                    <div class="a-image">
                        <img src="https://ik.imagekit.io/tvlk/blog/2023/11/bien-ba-dong-1-1024x622.jpg?tr=dpr-2,w-675" alt="Hoàng hôn" width="800px" height="500px">
                    </div>

                    <div class="a-body">
                        <h4>   Bình minh trên Biển Ba Động</h4>
                        <h2><strong>Đôi nét về Biển Ba Động</strong></h2>
                        <p>
                            Biển Ba Động, nằm tại vùng Đông Bắc Trà Vinh, là một kho báu thiên nhiên tuyệt vời mà tự nhiên đã ban tặng cho vùng đất này. Với cát trắng mịn màng và biển xanh biếc, nơi đây tạo nên một bức tranh hoàn mỹ của biển cả và thiên nhiên nơi miền đất phương Nam.
                        </p>
                        <p>
                            Với bờ cát dài, biển Ba Động không chỉ thu hút những du khách muốn thư giãn cùng làn nước biển mát lành mà còn là nơi tuyệt vời cho những người yêu thích nắng và biển. Không gian yên bình và khí hậu ôn hoà ở đây cùng những cảnh quan thiên nhiên ngoạn mục đã làm say đắm biết bao trái tim du khách.
                        </p>
                    </div>

                    <div class="a-image">
                        <img src="https://thamhiemmekong.com/wp-content/uploads/2020/04/bien-ba-dong.jpg" alt="" srcset="">
                    </div>



                    <div class="a-body">

                        <h4>Bãi biển thơ mộng đã được người Pháp khám phá từ những năm đầu thế kỷ XX . Ảnh: Phan Minh</h4>
                        <h2><strong>Biển Ba Động ở đâu</strong></h2>
                        <p>Biển Ba Động nằm tại huyện Trà Cú, cách trung tâm thành phố Trà Vinh khoảng 25 km. Để đến đây, bạn có thể di chuyển theo Quốc lộ 53, một tuyến đường tuyệt đẹp với những cánh đồng xanh mướt và cảnh quan thiên nhiên tươi đẹp.</p>
                        <h2><strong>Lịch sử hình thành của Biển Ba Động</strong></h2>
                        <p>
                            Biển Ba Động không chỉ đẹp về thiên nhiên mà còn mang trong mình những dấu ấn lịch sử đáng ngưỡng mộ. Vùng này từng là nơi tập trung của các hoạt động giao thương với các nước láng giềng, điều này còn thể hiện qua kiến trúc cổ kính và di tích tại đây.

                            Với vẻ đẹp tự nhiên tuyệt mỹ và giá trị lịch sử độc đáo, Biển Ba Động thật sự là một điểm đến không thể bỏ qua đối với những ai yêu thích du lịch và mong muốn khám phá vẻ đẹp độc đáo của vùng đất Trà Vinh.
                        </p>
                    </div>

                    <div class="a-image">
                        <img src="https://zoomtravel.vn/upload/images/L%E1%BB%8ACH%20S%E1%BB%AC.jpg" alt="" srcset="">
                    </div>

                    <div class="a-body">
                        <h2><strong>Biển Ba Động mùa nào đẹp nhất</strong></h2>
                        <p>

                            Tuy vẻ đẹp của nơi này luôn tỏa sáng, nhưng liệu có mùa nào thực sự là thời điểm tốt nhất để bạn thực sự trải nghiệm vẻ đẹp của Biển Ba Động hãy cùng tìm hiểu.
                            <ul>
                                <li>Mùa xuân: Biển Ba Động trong mùa xuân chào đón sự trở lại của thiên nhiên sau mùa đông. Bãi biển và biển cả trở nên tươi mới hơn, tạo nên không gian tinh khiết và thư giãn.</li>
                                <li>Mùa hè: Mùa hè mang đến nhiệt độ ấm áp và biển cả dịu mát. Đây là thời điểm hoàn hảo để tận hưởng những hoạt động biển như tắm biển và tham gia các môn thể thao nước. Mùa hè cũng tạo ra cảnh quan tươi sáng và sinh động.</li>
                                <li>Mùa thu: Mùa thu đem lại không gian mát mẻ và dịu dàng tại Biển Ba Động. Với ánh nắng vàng ấm áp, bãi biển trở nên thú vị và đẹp đẽ hơn. Đây là thời điểm tốt để bạn thả hồn trong không gian thiên nhiên đẹp như tranh vẽ</li>
                                Biển ba động
                            </ul>
                        </p>
                    </div>

                    <div class="a-image">
                        <img src="https://dulichtoivaban.com/wp-content/uploads/2022/08/Khung-canh-binh-minh-va-hoang-hon-tuyet-dep-tai-Bien-Ba-Dong.jpg" alt="" srcset="">
                    </div>

                    <div class="a-body">
                        <h4>Hoàng hôn trên bãi biển</h4>
                        <p>
                            Dù bạn đến Biển Ba Động vào mùa nào, vẻ đẹp của nơi này luôn làm say đắm lòng người. Hãy lựa chọn thời điểm phù hợp với sở thích của bạn để tận hưởng khoảnh khắc tuyệt vời bên cát trắng và biển cả mênh mông.
                        </p>
                    </div>


                    <div class="a-image">
                        <img src="https://dulichtoivaban.com/wp-content/uploads/2022/08/Kham-pha-Khu-du-lich-Bien-Ba-Dong-Tra-Vinh-2022.jpg" alt="" srcset="">
                    </div>

                    <div class="a-body">
                        <h2><strong>Di chuyển đến Biển Ba Động bằng phương tiện gì</strong></h2>
                        <p>Nếu bạn đang thắc mắc về cách di chuyển đến nơi này, dưới đây là một số phương tiện và hướng dẫn giúp bạn tiếp cận đến bãi biển đáng yêu này. Phương tiện di chuyển đến Biển Ba Động linh hoạt trong lựa chọn</p>
                        <ul>
                            <li>Ô tô cá nhân hoặc xe máy: Di chuyển bằng ô tô cá nhân hoặc xe máy là cách tiện lợi để đến Biển Ba Động. Lộ trình theo Quốc lộ 53 dẫn qua cánh đồng xanh mướt và khu vực nông thôn thanh bình, tạo trải nghiệm hấp dẫn trên đường đi.</li>
                            <li>Xe buýt: Nếu bạn không sở hữu phương tiện cá nhân, hãy tận dụng dịch vụ xe buýt.</li>
                            <li>Dịch vụ taxi hoặc xe đưa đón: Nếu bạn ưa thích sự thoải mái và tiện lợi, hãy sử dụng dịch vụ taxi hoặc xe đưa đón. Đặt xe trước hoặc tìm các dịch vụ đưa đón tại Trà Vinh để đến Biển Ba Động một cách dễ dàng.</li>
                        </ul>
                    </div>

                    <div class="a-image">
                        <img src="https://thamhiemmekong.com/wp-content/uploads/2020/04/diengiohanquoctravinh3.jpg" alt="" srcset="">
                    </div>

                    <div class="a-body">
                        <h4>Toàn cảnh điện gió Hàn Quốc</h4>
                        <h2><strong>Đến biển Ba Động có gì chơi</strong></h2>
                        <p>Nhắm mắt và hình dung bạn đang đứng trước bãi biển Ba Động, với cát trắng mịn màng và biển xanh biếc mênh mông. Nhưng thực sự, đến Biển Ba Động có những trải nghiệm gì đang chờ đón bạn, cùng xem với mình nhé</p>
                        <h2><strong>Tắm biển</strong></h2>
                        <p>Điều tuyệt vời nhất khi đến Biển Ba Động chắc chắn là tắm biển. Cảm giác mặc bikini, dặn dòng sóng xoa dịu và cát trắng thoải mái dưới chân, bạn sẽ cảm nhận được sự tự do và sảng khoái.</p>
                        <h2><strong>Ngắm hoàng hôn</strong></h2>
                        <p>Mỗi buổi hoàng hôn tại Biển Ba Động là một tượng đài thiên nhiên vô cùng đẹp. Đắm mình trong không gian yên bình, bạn có thể chứng kiến ánh mặt trời lặn xuống biển cùng những gam màu ấm áp trên bầu trời.</p>
                        <h2><strong>Công trình điện gió Hàn Quốc</strong></h2>
                        <p>Không chỉ là điểm tham quan du lịch, Công trình điện gió Hàn Quốc tại Biển Ba Động còn đem đến cái nhìn mới lạ với sự kết hợp giữa thiên nhiên biển cả và công nghệ điện gió hiện đại.</p>

                    </div>


                    <div class="a-body">
                        <h2><strong>Ăn gì khi đến Biển Ba Động</strong></h2>
                        <p>Đóng mắt và tưởng tượng mình đang bước chân đến Biển Ba Động, nơi cát trắng và biển xanh biếc tạo nên bức tranh hoàn hảo. Tuy nhiên, trong chuyến du lịch, việc thưởng thức ẩm thực cũng là một phần quan trọng. Vậy khi bạn đặt chân đến đây, liệu có những món ngon nào đang chờ đợi để được khám phá.</p>
                    </div>

                    <div class="a-image">
                        <img src="https://zoomtravel.vn/upload/images/9e7e2eef6d7144dea54ff0a80ea591f1.jpg" alt="" srcset="">
                    </div>

                    <h2><strong>Hải sản tươi sống</strong></h2>
                    <p>Không gì tuyệt vời hơn khi thưởng thức hải sản tươi sống tại biển cả. Các món hải sản như sò điệp, mực, cua, và tôm được chế biến đơn giản để giữ nguyên hương vị biển mặn mà</p>

                    <div class="a-image">
                        <img src="https://dulichtoivaban.com/wp-content/uploads/2022/08/Chu-u-rang-me-%E2%80%93-Mon-an-ngon-nuc-tieng-Tra-Vinh.jpg" alt="" srcset="">
                    </div>

                    <div class="a-body">
                        <h2><strong>Chù ụ rang me</strong></h2>
                        <p>Chùm ụ rang me là món ăn hấp dẫn với hương vị độc đáo của me chín và sự ngon miệng của chùm ụ. Sự hòa quyện giữa vị chua ngọt và mặn mà chắc chắn sẽ làm bạn phấn khích. Hãy cùng thưởng thức và khám phá văn hóa ẩm thực độc đáo của điểm đến biển này.</p>
                    </div>


                    <div class="a-image">
                        <img src="https://thamhiemmekong.com/wp-content/uploads/2020/04/diengiohanquoctravinh2.jpg" alt="" srcset="">
                    </div>

                    <div class="a-body">
                        <h4>12 tua-bin gió – Ảnh: Võ Trường An</h4>

                        <p>Mỗi buổi bình minh hay hoàng hôn, đứng ở bãi biển Ba Động bạn sẽ nhìn thấy vẻ đẹp của cầu dẫn dài hơn 4 cây số dẫn ra nơi lắp đặt các trụ tua-bin gió nối liền nhau. Ánh sáng mặt trời chiếu lung linh tạo nên khung cảnh vô cùng lãng mạn của những cánh quạt khổng lồ giữa biển bao la.</p>
                    </div>

                    <div class="a-image">
                        <img src="https://thamhiemmekong.com/wp-content/uploads/2020/04/diengiohanquoctravinh.jpg" alt="" srcset="">
                    </div>

                    <div class="a-body">
                        <h4>Khung cảnh hoàng hôn tuyệt đẹp tại cánh đồng Điện Gió</h4>

                        <p>
                            Từ Ba Động, du khách có thể tham quan nhiều địa danh nổi tiếng khác như cửa biển Cung Hầu (giáp với Tiền Giang), cửa Định An (giáp Sóc Trăng) và chiêm ngưỡng vẻ đẹp kiến trúc cổ kính của một số nhà thờ đã được xây dựng từ thời Pháp thuộc, như nhà thờ Giồng Rùm, nhà thờ Phước Hảo. Du khách sẽ có dịp tìm hiểu bề dày lịch sử, chiều sâu văn hóa của vùng đất ven biển Trường Long Hòa, Duyên Hải, Trà Vinh và thưởng thức các sản phẩm đặc trưng của các làng nghề truyền thống nổi tiếng một thời như Làng Đáy biển Động Cao, Làng Muối Cồn Cù, Làng Dưa hấu Ba Động…

                            Tuy không nổi tiếng như những bãi biển khác của Việt Nam, nhưng biển Ba Động vẫn mang sức hút đặc biệt cho những ai yêu thích sự hoang sơ. Một lần về với Trà Vinh để được thưởng lãm vẻ đẹp của biển Ba Động bạn nhé !

                        </p>
                    </div>



                </article>
            </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="items">

            <div class="item">

                <h2 class="title-item">
                    Về chúng tôi
                </h2>
                <div class="body-item">
                    <div class="about-item">
                        <div class="about-image">
                            <img src="https://img.freepik.com/premium-vector/detailed-travel-logo_23-2148616612.jpg" alt="" srcset="">
                        </div>
                        <div class="about-details">
                            <h2 class="about-name">
                                Khu du lịch biển ba động
                            </h2>
                            <p>
                                Hãy liên hệ với chung tôi khi muốn tìm hiểu thêm về khu du lịch
                            </p>
                            <div class="about-btn">
                                <button class="btn">Tìm hiểu thêm</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="item">
                <h2 class="title-item">
                    Thông tin liên hệ
                </h2>
                <div class="body-item">

                    <div class="info">
                        <p>
                            <ul>
                                <li>TraVinh,VietNam</li>
                                <li>SĐT:0399796850</li>
                                <li>Email:lethinguyenxuyen2003@gmail.com</li>
                            </ul>
                        </p>
                    </div>

                </div>
            </div>
            <div class="item">
                <h2 class="title-item">
                    Kết nối với chúng tôi
                </h2>
                <div class="body-side">
                    <div class="socials">
                        <a href="https://www.facebook.com/profile.php?id=100034348579919"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"><i class="fa-brands fa-google"></i></a>
                        <a href="https://www.instagram.com/nguyenxuyen297/"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>

            </div>


        </div>
    </div>

</footer>


