
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<section class="about">
    <div class="main">
        <img src="https://tripzone.vn/uploads/202107/26/03/085710-facebook-s-c-tr-n---b-i-bi-n-ba---ng.jpg" width="800px" height="500px" />
        <div class="about-text">
            <h2>Khám Phá</h2>
            <h5>khu du lịch biển ba động cùng chúng tôi</h5>
            <p>Biển Ba Động ở Trà Vinh sở hữu vẻ đẹp hoang sơ, chưa bị thương mại hóa, với hàng dương cao vút và bãi biển dài bất tận, bãi biển mang sức hút đặc biệt.</p>
            <button type="button"><a href="~/GiớiThiệu">Tìm hiểu thêm</a></button>
        </div>
    </div>
</section>

<section class="next" id="next">
    <div class="heading">
        <h1 class="title">Các địa điểm khác có thể ghé thăm</h1>
        <p class="subtitle"></p>
    </div>

    <div class="content">
        <div class="items">
            <div class="card">
                <div class="image">
                    <img src="https://thamhiemmekong.com/wp-content/uploads/2020/06/thienvientruclamtravinh-1.jpg" />

                </div>
                <div class="content-card">
                    <h4>Thiền viện trúc lâm</h4>
                    <p>Vãn cảnh Thiền Viện Trúc Lâm Trà Vinh theo lối kiến trúc Phật giáo Việt Nam thời Lý – Trần</p>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="https://dulichtravinh.com.vn/wp-content/uploads/2021/01/a8471f20fa11384f6100.jpg" />

                </div>
                <div class="content-card">
                    <h4>Khu di tích bến tiếp nhận Vũ Khí</h4>
                    <p>là niềm tự hào của quân dân Trà Vinh vì đã trở thành mắt xích quan trọng của Đường Hồ Chí Minh trên biển.</p>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="https://thamhiemmekong.com/wp-content/uploads/2022/02/canhdongdiengiodonghai8.jpg" />

                </div>
                <div class="content-card">
                    <h4>Cánh đồng điện gió Đông Hải 1</h4>
                    <p>Điểm thu hút du khách chính là 25 tua bin gió khổng lồ được dựng trên giữa biển khơi bao la nhìn hùng vĩ vô cùng.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="items">

            <div class="item">

                <h2 class="title-item">
                    Về chúng tôi
                </h2>
                <div class="body-item">
                    <div class="about-item">
                        <div class="about-image">
                            <img src="https://img.freepik.com/premium-vector/detailed-travel-logo_23-2148616612.jpg" alt="" srcset="">
                        </div>
                        <div class="about-details">
                            <h2 class="about-name">
                                Khu du lịch biển ba động
                            </h2>
                            <p>
                               Hãy liên hệ với chung tôi khi muốn tìm hiểu thêm về khu du lịch
                            </p>
                            <div class="about-btn">
                                <button class="btn">Tìm hiểu thêm</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="item">
                <h2 class="title-item">
                    Thông tin liên hệ
                </h2>
                <div class="body-item">

                    <div class="info">
                        <p>
                            <ul>
                                <li>TraVinh,VietNam</li>
                                <li>SĐT:0399796850</li>
                                <li>Email:lethinguyenxuyen2003@gmail.com</li>
                            </ul>
                        </p>
                    </div>

                </div>
            </div>
            <div class="item">
                <h2 class="title-item">
                    Kết nối với chúng tôi
                </h2>
                <div class="body-side">
                    <div class="socials">
                        <a href="https://www.facebook.com/profile.php?id=100034348579919"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"><i class="fa-brands fa-google"></i></a>
                        <a href="https://www.instagram.com/nguyenxuyen297/"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>

            </div>


        </div>
    </div>

</footer>

