
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<article>
<div class="container-lg" id="main">
    <div class="sign-up">
        <form-lg action="#">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="https://www.facebook.com/profile.php?id=100034348579919"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"><i class="fa-brands fa-google"></i></a>
                <a href="https://www.instagram.com/nguyenxuyen297/"><i class="fab fa-instagram"></i></a>
            </div>
            <p>or your email</p>
            <input type="text" name="txt" placeholder="Name" required="" />
            <input type="email" name="email" placeholder="Email" required="" />
            <input type="password" name="pswd" placeholder="Password" required="" />
            <button>Sign Up</button>
        </form-lg>

    </div>
    <div class="sign-in">
        <form action="#">
            <h1>Sign-in</h1>
            <div class="social-container">
                <a href="https://www.facebook.com/profile.php?id=100034348579919"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"><i class="fa-brands fa-google"></i></a>
                <a href="https://www.instagram.com/nguyenxuyen297/"><i class="fab fa-instagram"></i></a>
            </div>
            <p>or your email</p>
            <input type="text" name="txt" placeholder="Name" required="" />
            <input type="email" name="email" placeholder="Email" required="" />
            <input type="password" name="pswd" placeholder="Password" required="" />
            <a href="#">Forget your Password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-left">
                <h1>Wellcome Back</h1>
                <p>Chào mừng bạn đến với website </p>
                <button id="Sign-in">Sign In</button>
            </div>
            <div class="overlay-right">
                <h1>Wellcome Back</h1>
                <p>Chào mừng bạn đến với website </p>
                <button id="Sign-up">Sign Up</button>
            </div>
        </div>
    </div>
    </div>
    </article>